<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TableView Practice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8843D4EF1E6480F10021AA71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8843D5031E6480F10021AA71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8843D50E1E6480F10021AA71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
